<div class="black" [class.loading]="user">
  <h2>{{ 'MYPROFILE' | translate }}</h2>
  <div class="container">
    <div class="user" *ngIf="(user$ | async) !== null && ($user | async)?.id !== undefined; else error">
      <div class="field" >
        <div><p> {{ 'NAME' | translate }} : </p></div><div><p class="value">{{ (user$ | async).name }} </p></div>
      </div>
      <div class="field" >
          <div><p> {{ 'PASSWORD' | translate }} : </p></div><div><p class="value">{{ (user$ | async).password }} </p></div>
      </div>
      <div class="field" >
        <div><p> {{ 'AGE' | translate }} : </p></div><div><p class="value">{{ (user$ | async).age }} </p></div>
      </div>
      <div class="field" >
        <div><p> {{ 'BIRTHDAY' | translate }} : </p></div><div><p class="value">{{ (user$ | async).dateOfBirth  }} </p></div>
      </div>
      <div class="field" >
          <div><p> {{ 'DATEOFLOGIN' | translate }} : </p></div><div><p class="value">{{ (user$ | async).dateOfFirstLogin }} </p></div>
      </div>
      <div class="field" >
          <div><p> {{ 'DATEOFNOTIFICATION' | translate }} : </p></div><div><p class="value">{{ (user$ | async).dateOfNextNotification }} </p></div>
      </div>
      <div class="field" >
          <div><p> {{ 'INFORMATION' | translate }} : </p></div><div><p class="value">{{ (user$ | async).information }} </p></div>
      </div>
    </div>
    <ng-template #error>
      <div class="ui negative message">
        <div class="header" translate >Failed to authenticate token.</div>
      </div>
    </ng-template>
  </div>
</div>