$background: #1b1c1d;

.segment.placeholder.ui {
    
    height: 100%;
    background-color: $background;
    label {
        color:#fff;
    }
    .forgot {
        color:#fff;
    }
    .ui.divider {
        color:#fff;
        font-size: 1.5rem;
    }
    .column {
        .button {
            max-width: 21rem;
        }
    }
    .ui.divider:before {
        background-color: #fff0;
    }
}